@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="css/login.css">
</head>

<div class="login-container">
    <div class="login-box">
        <h2>Log ind</h2>
        <form method="post" action="/Login">
            <div class="input-group">
                <label for="username" class="BrugernavnLabel">Brugernavn</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Adgangskode</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Log ind</button>
        </form>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error-message">@ViewBag.ErrorMessage</div>
        }
    </div>
</div>
