@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<link href="~/css/loginRework.css" rel="stylesheet" />

<form method="post">
    <div class="input__container">
        <div class="shadow__input"></div>
        <input type="text" name="username" class="input__search" placeholder="Enter username" required />
    </div>


    <div class="input__container1">
        <div class="shadow__input"></div>
        <input type="password" name="password" class="input__search" placeholder="Enter password" required />
    </div>


    <div class="input_button_login">
        <button type="submit" class="input_button_login">Login</button>
    </div>


    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red;">@ViewBag.ErrorMessage</p>
    }
</form>