@{
    ViewData["Title"] = "Login";
}

<div>
    <h2 class="TITLEROFUS">ROFUS INC</h2>
</div>


<link href="~/css/loginRework.css" rel="stylesheet" />

<form method="post">
    <div class="input__container">
        <div class="shadow__input"></div>
        <input type="text" name="username" class="input__search" placeholder="Enter username" required />
    </div>


    <div class="input__container1">
        <div class="shadow__input"></div>
        <input type="password" name="password" class="input__search" placeholder="Enter password" required />
    </div>


    
    <button type="submit" class="input_button_login">Login</button>
        


    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red;">@ViewBag.ErrorMessage</p>
    }
</form>